attrition-donut-charts {
    section {
        height: 120px;
        figure {
            height: 120px;
            .donut-label {
                color: $content-font-color;
                font: 300 16px roboto;
                vertical-align: middle;
                display: block;
                margin-bottom: auto;
                margin-top: auto;
                padding-bottom: 5px;
            }
            @media all and ( max-width: $break-xsmall ) {
                justify-content: flex-start !important;
            }
        }
    }
}
.donut {
    @media (max-width: 740px) {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
}