headcount-widget {
    .trends {
        margin-top: 20px;
        .filters {
            .trends-span {
                margin:0;
                margin-left: 30px;
                margin-right: 0;
                padding-top: 15px;
                .double-arrow {
                    font-size: 20px;
                    margin-left: -10px;
                }
                .double-rotate45 {
                    font-size: 20px;
                }
                .md-headline {
                    font-family: Roboto;
                    color:  #bfbfbf;
                    font-size: 19.68px;
                    font-weight: 300;
                    line-height: 25px;
                    text-align: left;
                    transform: scaleY(1.0163);
                }
            }
        }
    }
    section {
        margin-top: -8px;
    }
    .line {
        fill: none;
        stroke: gray;
        stroke-width: 1px;
    }
    .axis {
        path, line {
            fill: none;
            stroke: none;
        }
        text {
            fill: $slider-color;
        }
        &.y text {
            fill: $content-font-color;
        }
    }
    .tooltip {
        table {
            margin: 0;
        }
        .date {
            padding-left: 0;
        }
    }

    .area {
        fill: url(#headcount-gradient);
        stroke-width: 0;
    }

}