
<div class="content" layout="row">

    <md-card flex-xs flex-gt-xs="70">
        <section class="md-whiteframe-3dp summary ml20 mr10 mrb1 bg-gray" style="overflow: hidden;">
            <md-card-title class="">
                <md-card-title-text>
                    <md-input-container>
                        <textarea  placeholder="Write something about yourself here..."></textarea>
                    </md-input-container>
                </md-card-title-text>
            </md-card-title>
        </section>
        <section class="md-whiteframe-3dp down-button-menu ml20 mr10 mrb35 bg-gray" style="overflow: hidden;">
            <md-card-title>
                <div class="ml10">
                    <md-button class="mr10 md-icon-button">
                        <img class="icon-soc" src="/img/profile-pics/image.png" alt="">
                    </md-button>
                    <md-button class="md-icon-button">
                        <img class="icon-soc" src="/img/profile-pics/movie.png" alt="">
                    </md-button>
                </div>
                <md-button class="md-raised post">
                    Post
                </md-button>
            </md-card-title>
        </section>
    </md-card>

    <md-card flex-xs flex-gt-xs="30">
        <section class="md-whiteframe-3dp activities  mr10 mrb35 bg-gray" style="overflow: hidden;">
            <md-card-title class="mt20 mb10">
                <md-card-title-text>
                    <span class="md-headline show-info">
                        <md-button class="md-icon-button">
                            <img class="icon-soc" src="/img/profile-pics/activities.png" alt="">
                        </md-button>
                        Activities
                        <!-- <md-button  hide-gt-xs ng-click="active = !active"  aria-label="Open more menu" class=" md-icon-button">
                            <md-icon ng-show="!active" md-font-set="md">keyboard_arrow_down</md-icon>
                            <md-icon ng-show="active" md-font-set="md">keyboard_arrow_up</md-icon>
                        </md-button> -->
                    </span>
                </md-card-title-text>
                <md-card-title-media hide-xs class="pt5">
                    <md-menu md-offset="-220 0">
                        <md-button aria-label="Open more menu" class="open-more md-icon-button">
                            <img class="more_vert" src="/img/profile-pics/more_vert.png" alt="">
                        </md-button>
                    </md-menu>
                </md-card-title-media>
            </md-card-title>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div  class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class=" md-2-line">
                <img src="/img/profile-pics/user-icon.png" class="md-avatar" alt=""/>
                <div class="md-list-item-text">
                    <div layout-sm="column" class="title" layout="row">
                        <h3>Alice Lee </h3>
                        <p>25.03.2016</p>
                    </div>
                    <p class="description">posted a comment on Marie's photo</p>
                </div>
            </md-list-item>
            <md-divider ></md-divider>
        </section>
    </md-card>

</div>
