.users {
    margin: 0;
    display: block;
    overflow: hidden;
    position: relative;
    .sorting {
        &:before {
            color: #4a5a68;
        }
    }
    md-card-title {
        padding: 10px 0 10px 20px;
        .title-text {
            font-family: Roboto;
            color: #c2c1c1;
            font-size: 22px;
            font-weight: 400;
            text-align: left;
            line-height: 31px;
            display: inline-table;
            flex: 0;
            .top-icon {
                color: #6d6f71;
            }
            .menu-popup-arrow {
                display: none;
            }
            @media (max-width: 1050px) {
                .menu-popup-arrow {
                    display: inline-block;
                }
            }
            @media (max-width: 815px) {
                margin: 0;
            }
        }
    }
    .users-department.left-bar-mobile-menu {
        float: left;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto;
        overflow: hidden;
        box-shadow: none;
        z-index: 500000000000;
        margin: 0;
        overflow-x: hidden;
        min-height: 80px;
        position: fixed;
        top: 138px;
        bottom: 0px;
        width: 200px;
        &.animate-hide {
            -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            line-height:20px;
            opacity:1;
            left: 0px;
        }
        &.ng-hide {
            -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s!important;
            left: -180px;
            opacity:0;
            padding:0 10px;
        }
        .title-text {
            font-family: Roboto;
            font-size: 22px;
            font-weight: 400;
            text-align: left;
            line-height: 31px;
            margin-right: 120px;
            flex: 0;
            padding: 40px 0;
            background: rgba(0, 0, 0, 0.5);
            color: #bdbdc0;
            padding-left: 11px;
            max-height: 115px;
            width: 197px;
            @media (max-width: 1050px) {
                display: block;
            }
            .menu-popup-arrow {
                display: none;
                @media (max-width: 1050px) {
                    display: inline-block;
                    margin-right: 0;
                    md-icon {
                        -ms-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
            @media (max-width: 1050px) {
                flex: 1;
                margin-right: 0;
            }
        }
        md-list {
            background-color: $bg-gray;
            border-bottom: 1px solid #000;
            padding: 0;
            &:nth-child(n+2) {
                border-top: 1px solid #36383f;
            }
            md-input-container {
                margin-bottom: 0px;
                label {
                    font-weight: 400;
                    color: #72929c;
                    padding-left: 10px;
                }
                .addNewGroupInput {
                   background: #24252b;
                }
            }
            md-card-title {
                margin-left: -30px;
                .ok {
                    min-width: 70px;
                    background-color: #17a9a8;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                }
                .cancel {
                    min-width: 70px;
                    color: #b8b8b8;
                    background-color: #292c33;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                }
            }
            .title-contacts {
                font-family: Roboto;
                color: #72929c;
                background-color: $bg-gray;
                cursor: default;
                margin: 10px 0;
                margin-top: 0;
                span {
                    color: $content-font-color;
                }
            }
            .active {
                color: #72929c;
                .md-button {
                    .md-list-item-inner {
                        .title {
                            color: #72929c;
                        }
                    }
                    .md-secondary-container {
                        .data {
                            color: #72929c;
                        }
                    }
                }
            }
            md-list-item {
                color: #72929c;
                .md-button {
                    .md-list-item-inner {
                        .title {
                            color: #72929c!important;
                        }
                    }
                    .md-secondary-container {
                        .data {
                            color: #72929c!important;
                        }
                    }
                }
                &.contacts-item {
                    color: $slider-color;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    min-height: 48px;
                    height: auto;
                    &.create-group {
                        margin-top: 35px;
                        margin-bottom: 10px;
                    }
                    &:hover {
                        background-color: #34373d;
                        color: #ffffff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    md-card-content {
        .users-department.left-bar {
            float: left;
            padding: 0;
            font-size: 14px;
            font-weight: 400;
            font-family: Roboto;
            margin: 0;
            overflow: hidden;
            box-shadow: none;
            width: 200px;
            margin-right: 25px;
            margin-left: 15px;
            @media (max-width: 1050px) {
                margin-left: -230px;
            }
            .group-title {
                border-bottom: 1px solid #16181d;
                color: #bfbfbf;
            }
            .users-groups {
                overflow: scroll;
                overflow-x: hidden;
                height: 200px;
                border-top: 1px solid #36383f;
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
            md-list {
                background-color: $bg-gray;
                border-bottom: 1px solid #000;
                padding: 15px 0 15px 0;
                &:nth-child(n+2) {
                    border-top: 1px solid #36383f;
                }
                md-list-item {
                    &.users-item {
                        color: $slider-color;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-height: 48px;
                        height: auto;
                        background-color: #292c33;
                        &:hover {
                            background-color: #34373d;
                            color: #ffffff;
                            cursor: pointer;
                        }
                        &.create-group {
                            margin-top: 35px;
                            margin-bottom: 10px;
                            &:hover {
                                background-color: rgba(47,220,218,0.2);
                                color: #ffffff;
                                cursor: pointer;
                            }
                        }
                        .expired {
                            color: #e54748;
                        }
                        .exp-soon {
                            color: #f07d1a;
                        }
                        .inactive {
                            color: #208183;
                        }
                        .newcomers {
                            color: #50a478;
                        }
                    }
                    md-input-container {
                        margin-bottom: 0px;
                        label {
                            font-weight: 400;
                            color: #72929c;
                            padding-left: 10px;
                        }
                        .addNewGroupInput {
                            background: #24252b;
                       }
                    }
                    md-card-title {
                        margin-left: -30px;
                        .ok {
                            min-width: 70px;
                            background-color: #17a9a8;
                            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                        }
                        .cancel {
                            min-width: 70px;
                            color: #b8b8b8;
                            background-color: #292c33;
                            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                        }
                    }
                }
            }
        }
    }
    .actions-btn {
        flex: 1;
        font-family: Roboto;
        color: #72929c;
        font-size: 14px;
        .group-btn {
            padding: 10px 0 0px 0px;
            margin-left: -8px;
            display: inline;
            position: relative;
            .assign-to-role {
                border: 1px solid #bfbfbf;
                color: #bfbfbf;
            }
             @media (max-width: 670px) {
                display: flex;
                padding-top: 0;
                justify-content: flex-start;
                margin-left: 7px;
            }
            .md-button {
                border: 1px dashed rgb(23, 25, 30);
                background: transparent;
                color: rgb(114, 146, 156);
                @media (max-width: 670px) {
                    display: inline-block;
                    min-width: 40px;
                    .txt {
                        display: none;
                    }
                }
                &.action[disabled] {
                    background-color: rgb(32, 35, 43);
                    color: rgb(64, 79, 86);
                }
            }
            .status {
                border: 0;
            }
            .status[disabled] {
                background-color: rgb(32, 35, 43);
                color: rgb(64, 79, 86);
                md-icon {
                    color: rgb(64, 79, 86);
                }
            }
            .input-block {
                position: relative;
                top: 10px;
                float: right;
                left: 0px;
                @media (max-width: 375px) {
                    left: 0;
                    top: 12px;
                }
                span {
                   color: #6d6f71;
                }
                .search {
                    position: relative;
                    display: table;
                    .search-contacts {
                        background: transparent;
                        border: none;
                        font-family: Roboto;
                        color: #6d6f71;
                        font-size: 15px;
                        padding-left: 12px;
                        text-shadow: 0px 0px 0px #6d6f71;
                        -webkit-text-fill-color: transparent;
                    }
                    input {
                        @media (max-width: 780px) {
                            display: none;
                        }
                    }
                }
            }
        }
        .show-dropdown {
            z-index: 100;
            .fa {
                color: rgb(47, 220, 219);
            }
        }
    }
    .selected {
        background-color: #35383e!important;
    }
    .users {
        background-color: #292c33;
        .left-table {
            margin-left: 0;
            min-width: 175px;
            overflow-x: hidden;
            margin-right: 0;
            border-right: 1px solid #14151a;
        }
        .right-table {
            overflow-x:scroll;
            width: 100%;
        }
        .table-wrapper { 
            overflow-y:visible;
            .users-table {
                width: 100%;
                margin: 0px auto 0px 0px;
                margin-right: 20px;
                .left-height {
                    .layout-align-start-stretch {
                        min-height: 48px;
                    }
                } 
                .right-height {
                    .layout-align-start-stretch {
                        min-height: 48px;
                    }
                }
                thead {
                    background: #23252c;
                    tr {
                        th {
                            padding: 0px 10px;
                            font-size: 15px;
                            font-weight: 500;
                            color: #bfbfbf;
                            position: relative;
                            .head-row {
                               align-items: center;
                               min-height: 60px;
                               white-space: nowrap;
                            }
                            &:first-child {            
                                left: 0px;
                                background: #23252c;
                                padding: 0px 46px;
                                padding-left: 20px;
                                @media (max-width: 1569px) {
                                    padding: 28.3px 46px;
                                    padding-left: 20px;
                                }
                            }
                            .select {
                                margin-right: 10px;
                                i {
                                    position: relative;
                                    margin-left: 10px;
                                    cursor: pointer;
                                    &:before {
                                        content: "";
                                        position: relative;
                                        top: 2px;
                                    }
                                }
                            }
                            md-checkbox {
                                margin: 0px 0px 0px 4px;
                                .md-icon {
                                    border-width: 1px;
                                    border-color: rgb(86, 88, 93);
                                }
                                .md-ink-ripple {
                                    color: white;
                                }
                                &.md-default-theme.md-checked .md-icon {
                                    background-color:  #17a9a8;
                                    border: transparent;
                                    &:after {
                                        border-color: white;
                                        left: 7px;
                                        top: 2px;
                                    }
                                    .md-ink-ripple {
                                        color: white;
                                    }
                                }
                                &.md-checked .md-icon {
                                    background-color:  #17a9a8;
                                    border: transparent;
                                    &:after {
                                        border-color: white;
                                        left: 7px;
                                        top: 2px;
                                    }
                                }
                            }
                            md-checkbox.md-checked.md-focused .md-container:before {
                                background-color: transparent;
                            }
                        }
                    }
                }
                .rows {
                    background-color: #292c33;
                    &:hover {
                        background-color:#35383e;
                        cursor: pointer;
                    }
                    .users-data {
                        padding: 0px 9px;
                        font-size: 13px;
                        position: relative;
                        border-bottom: none;
                        min-height: 48px;

                        &:first-child {
                            left: 0px;
                            padding: 0px 18px;
                            min-height: 48px;
                            width: 175px;
                            &:hover {
                                background-color:#35383e;
                                cursor: pointer;
                            }
                        }
                        .date-range {
                            color:#bfbfbf;
                            white-space: nowrap;
                        }
                        md-checkbox {
                            margin: 0px 5px;
                            .md-icon {
                            border-width: 1px;
                            border-color: rgb(86, 88, 93);
                            }
                            .md-ink-ripple {
                                color: white;
                            }
                            &.md-default-theme.md-checked .md-icon {
                                background-color:  #17a9a8;
                                border: transparent;
                                &:after {
                                    border-color: white;
                                    left: 7px;
                                    top: 2px;
                                }
                                .md-ink-ripple {
                                    color: white;
                                }
                            }
                            &.md-checked .md-icon {
                                background-color:  #17a9a8;
                                border: transparent;
                                &:after {
                                    border-color: white;
                                    left: 7px;
                                    top: 2px;
                                }
                            }
                        }
                        md-checkbox.md-checked.md-focused .md-container:before {
                            background-color: transparent;
                        }
                        .users-name {
                            font-size: 14px;
                            color: $content-font-color;
                            white-space: nowrap;
                        }
                        .selects-option {
                            position: relative;
                            right: 9px;
                            cursor: pointer;
                            float: right;
                            button {
                                margin-right: 0;
                                md-icon {
                                    display: inline;
                                    img {
                                        width: 3px;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-conteiner {
            border-top: 1px solid rgba(255,255,255,0.15);
            overflow: hidden;
            position: initial;
            .pagination {
                margin: 20px 20px;
            }
        }
    }
    .left-menu {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 100000000;
        background: rgba(0,0,0,0.7);
    }
}

.md-open-menu-container {
    .select-dropdown-btn {
        text-align: right;
        .fa {
            font-size: 15px;
            padding-left: 15px;
            &.status {
                color: rgb(47, 220, 219);
                font-size: 18px;
            }
            &.activated {
                font-size: 13px;
            }
        }
    }
}