<div class="login-container">
    <md-card class="login-user">
        <div class="first-block">
            <md-card-avatar> 
                <md-user-avatar class="first-logo" ng-hide="checked">
                    <img src="/img/profile-pics/log.png"/>
                </md-user-avatar>
                <md-user-avatar class="second-logo" ng-show="checked">
                    <img src="/img/icons/logo2.png"/>
                </md-user-avatar>
            </md-card-avatar>
        </div>
        <div class="container-card-maintenance">
            <md-card-title-media>
                <md-media-xl>
                    <img class="maintenance" src="/img/icons/fix.png">
                </md-media-xl>
            </md-card-title-media>
            <md-card-title-text>
                <p>Closed for scheduled maintenance!</p>
            </md-card-title-text>
            <md-headline>
                <p>We're sorry for the inconvenience</p>
                <p>Please check back later</p>
            </md-headline>
        </div>
    </md-card>
</div>
