
<div class="recover-password">
    <md-card class="login-user">
        <div class="first-block">
            <md-card-avatar>
                <md-user-avatar class="first-logo">
                    <img src="/img/profile-pics/log.png"/>
                </md-user-avatar>
            </md-card-avatar>
        </div>
        <div class="second-block">
            <form ng-submit="" name="form">
                <md-card-header-text>
                    <md-title>
                        Password reset
                    </md-title>
                </md-card-header-text>
                <md-card-content class="container">
                    <md-input-container class="information" >
                        <input  name="user"
                                class="user-email"
                                placeholder=" Email address"
                                type="text"
                                ng-maxlength="150">
                        <div class="errors" ng-show="error.code == 1">
                            <div class="error-min">&nbsp; Email does not exist</div>
                        </div>
                        <md-icon class="image-container">
                            <img class="avatar" src="/img/profile-pics/list.png"/>
                        </md-icon>
                    </md-input-container>
                </md-card-content>
                <br>
                <md-card-actions class="login-btn mt20">
                    <md-button ng-click="" type="submit" class="login" ng-disabled="isDisabled">
                        Send reset link
                    </md-button>
                </md-card-actions><br>
            </form>
            <a class="goback_tologin">Go back to login</a>
        </div>
    </md-card>
</div>
