
<md-list-item class="md-2-line md-list-absences">
    <md-card class="absences-widget">
        <md-card-title>
            <div class="charts">
                <div class="charts-block">
                    <div class="cost-tooltip tp"></div>
                    <div id="cost-of-absences" class="absences"></div>
                    <div class="circle-text">Cost of <br> Absences</div>
                </div>
            </div>
        </md-card-title>
        <md-card-title class="md-card-sick">
            <div class="charts">
                <div class="charts-block">
                    <div class="sick-tooltip tp"></div>
                    <div id="seak-days" class="absences"></div>
                    <div class="circle-text">Sick Leave <br> Days</div>
                </div>
            </div>
        </md-card-title>
        <md-card-title>
            <div class="charts">
                <div class="charts-block">
                    <div class="absent-tooltip tp"></div>
                    <div id="emploee-absent" class="absences"></div>
                    <div class="circle-text">Emploees <br> Absent</div>
                </div>
            </div>
        </md-card-title>
        <md-card-title>
            <div class="charts">
                <div class="charts-block">
                    <div class="days-lost-tooltip tp"></div>
                    <div id="days-lost" class="absences"></div>
                    <div class="circle-text">Days Lost <br> per Emploee</div>
                </div>
            </div>
        </md-card-title>
        <md-card-title>
            <div class="charts">
                <div class="charts-block">
                    <div class="total-tooltip tp"></div>
                    <div id="total-days" class="absences"></div>
                    <div class="circle-text">Total Available <br> Days</div>
                </div>
            </div>
        </md-card-title>
    </md-card>
</md-list-item>