
<md-input-container>

    <md-select  ng-model="activeParams.departments"
                ng-change="dd.change( activeParams.departments, {{ activeParams.departments }} );"
                aria-label="Departments filter"
                multiple
                placeholder="Select Departments">

        <md-chips class="style-scroll"
                  ng-show="dd.one"
                  ng-model="activeParams.departments"
                  readonly="dd.readonly"
                  ng-change="dd.change( activeParams.departments, {{ activeParams.departments }} );"
                  ng-click="dd.getSelectedChipIndex( activeParams.departments ); dd.change( activeParams.departments, activeParams.departments  )">
        </md-chips>

        <md-content class="style-scroll" ng-class="{'border' : dd.one}">
            <md-option value="all">All Departments</md-option>
            <md-option ng-repeat="department in departmentList" ng-value="department" ng-if="department !== 'Total'">
                {{ department }}
            </md-option>
        </md-content>

    </md-select>

</md-input-container>
