
<md-toolbar>
    <span>New Filter</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
    </md-button>
</md-toolbar>

<md-dialog-actions>
    <div class="input-action">
        <span>Filter Name:</span>
        <input type="text" class="new-filter-input" ng-model="title">
    </div>
    <div class="action-buttons">
        <md-button class="ok-btn" ng-click="create()">
            <span>OK</span>
        </md-button>
        <md-button class="cancel-btn md-raised" ng-click="cancel()">
            <span>Cancel</span>
        </md-button>
    </div>
</md-dialog-actions>
