
<section fullscreen="isFullscreenLine" flex>
    <md-grid-list class="finance-chart" md-cols="5" md-gutter="10px" md-row-height="120px;" ng-cloak>
        <md-grid-tile md-colspan="1" md-colspan-xs="2">
            <div id="donut-chart-revenue" class="donut"></div>
            <div class="donut-label">Revenue</div>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-colspan-xs="2">
            <div id="donut-chart-human" class="donut"></div>
            <div class="donut-label">Human Cost</div>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-colspan-xs="2">
            <div id="donut-chart-headcount" class="donut"></div>
            <div class="donut-label">Headcount</div>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-colspan-xs="2">
            <div id="donut-chart-targetRevenue" class="donut"></div>
            <div class="donut-label" >Target revenue</div>
        </md-grid-tile>
        <md-grid-tile md-colspan="1" md-colspan-xs="2">
            <div id="donut-chart-targetHuman" class="donut"></div>
            <div class="donut-label" >Target <br>Human Cost</div>
        </md-grid-tile>
    </md-grid-list>
</section>    