
<div class="avarage-title">Avarage Annualised Salary in Belgium for June 2016</div>

<md-card class="avarage-annualised">
    <table class="avarage-table">
        <thead>
            <th>
                <div class="head-row" layout="row">
                    <div layout="row">
                        <div class="contacts-name">Department</div>
                    </div>
                </div>
            </th>
            <th>
                <div class="head-row" layout="row">
                    <div class="center-pos" layout="row">
                        <div class="contacts-name">Avarage <br>Salary &euro;</div>
                    </div>
                </div>
            </th>
            <th>
                <div class="head-row" layout="row">
                    <div class="center-pos" layout="row">
                        <div layout="row" class="contacts-name">Avarage <br> annualised <br> salary % <br> from <br> Jun 2016</div>
                    </div>
                </div>
            </th>
            <th class="empty-data">
            </th>
            <th>
                <div class="head-row" layout="row">
                    <div class="center-pos" layout="row">
                        <div class="contacts-name">Total Salary <br>Bill &euro;</div>
                    </div>
                </div>
            </th>
            <th>
                <div class="head-row" layout="row">
                    <div class="center-pos" layout="row">
                        <div layout="row" class="contacts-name">Total <br> salary bill % <br> from <br>Jun 2016</div>
                    </div>
                </div>
            </th>
            <th class="empty-data">
            </th>
            <th>
                <div class="head-row" layout="row">
                    <div class="center-pos" layout="row">
                        <div layout="row" class="contacts-name">Dynamic on Salaries till current month</div>
                    </div>
                </div>
            </th>
        </thead>
        <tbody id="elem">
            <tr>
                <td>
                    <div class="head-row" layout="row">
                        <div layout="row">
                            <div class="contacts-name">TOTAL</div>
                        </div>
                    </div>
                </td>
                <!-- <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div class="avarage-name">{{sdt.totalHeadcount}}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div layout="row" class="avarage-per" ng-class="{red:sdt.totalHeadcountPer, green: !sdt.totalHeadcountPer}">{{sdt.totalHeadcountPer}}%</div>
                        </div>
                    </div>
                </td>
                <td class="empty-data">
                </td> -->
                <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div class="avarage-name">{{sdt.total.salary.avgSalary | number}}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div layout="row" class="avarage-per" ng-class="{red:sdt.total.salary.avgSalaryVsJan, green: sdt.total.salary.avgSalaryVsJan <= 0}">{{sdt.total.salary.avgSalaryVsJan}}%</div>
                        </div>
                    </div>
                </td>
                <td class="empty-data">
                </td>
                <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div class="avarage-name">{{sdt.total.salary.totalSalary | number}}&euro;</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="head-row" layout="row">
                        <div class="center-pos" layout="row">
                            <div layout="row" class="avarage-per" ng-class="{red:sdt.total.salary.totalSalaryVsJan, green: sdt.total.salary.totalSalaryVsJan <= 0 }">{{sdt.total.salary.totalSalaryVsJan}}%</div>
                        </div>
                    </div>
                </td>
                <td class="empty-data">
                </td>
                <td>
                    <salary-line-chart-mini set-data="sdt.data.linechartData['total']"></salary-line-chart-mini>
                </td>
            </tr>
            <tr ng-repeat="item in sdt.avarageData" class="rows">
                <td class="avarage-data">
                    <div layout="row" layout-align="start" style="align-items: center;">
                        <div>
                            <div class="country-name">{{item.department}}</div>
                        </div>
                    </div>
                </td>
                <td class="avarage-data">
                    <div layout="row" layout-align="start" style="align-items: center;">
                        <div class="center-pos">
                            <div class="avarage-name">{{ item.salary.avgSalary }}</div>
                        </div>
                    </div>
                </td>
                <td class="avarage-data">
                    <div layout="row" layout-align="start" style="align-items: center;">
                        <div class="center-pos">
                            <div class="avarage-per" ng-class="{red:item.salary.avgSalaryVsJan, green: item.salary.avgSalaryVsJan <= 0 }">
                                {{item.salary.avgSalaryVsJan}}%
                            </div>
                        </div>
                    </div>
                </td>
                <td class="empty-data">
                </td>
                <td class="avarage-data">
                    <div layout="row" layout-align="start" style="align-items: center;">
                        <div class="center-pos">
                            <div class="avarage-name">
                                {{item.salary.totalSalary | number}}
                            </div>
                        </div>
                    </div>
                </td>
                <td class="avarage-data">
                    <div layout="row" layout-align="start" style="align-items: center;">
                        <div class="center-pos">
                            <div class="avarage-per" ng-class="{red:item.salary.totalSalaryVsJan, green: item.salary.totalSalaryVsJan <= 0 }">
                                {{ item.salary.totalSalaryVsJan }}%
                            </div>
                        </div>
                    </div>
                </td>
                <td class="empty-data">
                </td>
                <td class="avarage-data" id="line-width">
                    <div layout="row" layout-align="start" style="align-items: center;width: 100px">
                        <div class="center-pos">
                            <div class="avarage-pers">
                                <salary-line-chart-mini set-data="item.salaryChart"></salary-line-chart-mini>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-card>
