
<md-card-title-text>

    <div class="headcount-header">
        <md-button  class="back-btn md-icon-button md-button md-ink-ripple"
                    ng-click="tt.back()"
                    ng-show="activeParams.countries.length || activeParams.departments.length">
            <md-icon flex="none" md-font-set="md">arrow_back</md-icon>
        </md-button>
        <span class="page-title">{{ tabTitle }}</span>
        <span class="title-cont-divider" ng-show="activeParams.countries.length > 0">></span>
        <div class="country-list" ng-click="tt.enableCountryEditMode()"></div>
        <span class="cont-dep-divider" ng-show="activeParams.departments.length > 0">></span>
        <div class="department-list" ng-click="tt.enableDepartmentEditMode()"></div>
    </div>
    <span class="md-subhead">For <span md-colors="{ color: 'primary-500' }">{{selectedDate | date:'MMMM yyyy'}}</span>, comparing with previous month and against the first of the year.</span>

</md-card-title-text>
