
<md-card class="error-404-page">
    <div class="container">
        <md-card-content>
            <md-card-header-text>
                <md-title>
                    <h1 class="header">404</h1>
                    <h3 class="subtitle">Page not found</h3>
                </md-title>
            </md-card-header-text>
            <md-card-title>
                <md-card-title-text>
                    <p class="not-found-page">Sorry, the page you're looking for was not found</p>
                    <md-card-actions>
                        <md-button class="back-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</md-button>
                    </md-card-actions>
                </md-card-title-text>
            </md-card-title>
        </md-card-content>
    </div>
    <md-button class="arrow-up md-fab docs-scroll-fab md-button md-ink-ripple scrolling" type="button" ng-transclude docs-scroll-class="scrolling" ng-click="scrollTop()" aria-label="Top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </md-button>
    <footer class="error-footer">
    <md-button class="help-btn">
        <span>Need Help?</span>
        <i class="fa fa-comments-o" aria-hidden="true"></i>
    </md-button>
        <p>Copyright &copy; 2016 LLC. All screenshots &copy; their respective owners. Shipped from HR Tools Inc.</p>
    </footer>
</md-card>
