<md-card class="happy-birthday-popup">
    <div class="header-block">
        <md-card-avatar>
            <md-user-avatar class="iamge-logo">
                <div class="icon-gift">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
            </md-user-avatar>
        </md-card-avatar>
    </div>
    <md-card-header>
        <md-card-header-text class="information-header">
            <h3 class="name">Happy Birthday Robert!</h3>
        </md-card-header-text>
    </md-card-header>
    <md-card-title class="content">
        <md-card-title-text>
            <md-headline class="informations">
                <span>Coungratulations on your wage increases!</span> 
                <span>And thank you for you for successful cooperation.</span>
                <span>Your Name company.</span>
            </md-headline>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions class="btn-container">
        <md-button class="thanks-btn">THANKS!</md-button>
    </md-card-actions>
</md-card>