.headcount-line {
        .progress-data {
            color: #bfbfbf;
            font-weight: 400;
            margin: 30px 0 3px 15px;
            .progress-icon {
                margin: 0;
            }
            .progress-name {
                color: #bfbfbf;
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
            .progress-total {
                margin: auto 0 auto auto;
                .total {
                    color: #4f5055;
                }
            }
        }

        .progress-line {
            margin-left: 15px;
            background-color: black;
            height: 3px;
            .under-line {
                background-color: black;
                margin-top: 9px;
                height: 3px;
                display: block;
            }
            .up-line {
                background-color: red;
                margin-top: -3px;
                height: 3px;
                display: block;
            }
        }
    }
    .avarage-line {
        .progress-data {
            color: #bfbfbf;
            font-weight: 400;
            margin: 30px 0 3px 15px;
            .progress-icon {
                margin: 0;
            }
            .progress-name {
                color: #bfbfbf;
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
            .progress-total {
                margin: auto 0 auto auto;
                .total {
                    color: #4f5055;
                }
            }
        }
        .progress-line {
            margin-left: 15px;
            background-color: black;
            height: 3px;
        }
    }
    .total-line {
        .progress-data {
            color: #bfbfbf;
            font-weight: 400;
            margin: 30px 0 3px 15px;
            .progress-icon {
                margin: 0;
            }
            .progress-name {
                color: #bfbfbf;
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
            .progress-total {
                margin: auto 0 auto auto;
                .total {
                    color: #4f5055;
                }
            }
        }
        .progress-line {
            margin-left: 15px;
            background-color: black;
            height: 3px;
        }
    }
    .seniority-line {
        .progress-data {
            color: #bfbfbf;
            font-weight: 400;
            margin: 30px 0 3px 15px;
            .progress-icon {
                margin: 0;
            }
            .progress-name {
                color: #bfbfbf;
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
            .progress-total {
                margin: auto 0 auto auto;
                .total {
                    color: #4f5055;
                }
            }
        }
        .progress-line {
            margin-left: 15px;
            background-color: black;
            height: 3px;
        }
    }
    .turnover-line {
        .progress-data {
            color: #bfbfbf;
            font-weight: 400;
            margin: 30px 0 3px 15px;
            .progress-icon {
                margin: 0;
            }
            .progress-name {
                color: #bfbfbf;
                font-size: 16px;
                font-weight: 400;
                margin-left: 10px;
            }
            .progress-total {
                margin: auto 0 auto auto;
                .total {
                    color: #4f5055;
                }
            }
        }
        .progress-line {
            margin-left: 15px;
            background-color: black;
            height: 3px;
        }
    }